[default]

[monitor://E:\IIS_logs\W3SVC1\*.log]
disabled = false
index={{ slunk_log_default_index }}
sourcetype=iis

[monitor://E:\IIS_logs\FailedRequests\...\*.xml]
disabled = false
index={{ slunk_log_default_index }}
sourcetype=failedrequest

[WinEventLog]
index = {{ slunk_log_default_index }}

[WinEventLog://System]
disabled = 0 

[WinEventLog://Application]
disabled = 0