﻿[tcpout]
defaultGroup = splunkcloud,default-autolb-group

[tcpout:default-autolb-group]
server = {{ splunk_log_gateway }}:{{ splunk_log_gateway_port }}

[tcpout-server://{{ splunk_log_gateway }}:{{ splunk_log_gateway_port }}]
